# DAY 2

In [1]:
a=10

In [2]:
b=20

In [3]:
a+b

30

In [4]:
type(a)

int

In [6]:
lst=["Sai",10,2929,12.67]

In [7]:
lst=["Sai",10,2929,12.67]

In [8]:
print(lst)

['Sai', 10, 2929, 12.67]

In [9]:
lst

['Sai', 10, 2929, 12.67]

In [10]:
lst[0]

'Sai'

In [11]:
lst.append("Kiran")

In [12]:
lst

['Sai', 10, 2929, 12.67, 'Kiran']

In [13]:
lst.index(10)

1

In [14]:
lst[-1]

'Kiran'

In [15]:
lst[-2][1]

TypeError: 'float' object is not subscriptable

In [16]:
dit{"name":"Himanshu","class":"fifth","job":"tester"}

SyntaxError: invalid syntax (<ipython-input-16-57ba252ff365>, line 1)

In [17]:
dit={"name":"Himanshu","class":"fifth","job":"tester"}

In [18]:
dit

{'name': 'Himanshu', 'class': 'fifth', 'job': 'tester'}

In [19]:
dit.get(name)

NameError: name 'name' is not defined

In [20]:
dit.get("name")

'Himanshu'

In [22]:
dit.items()

dict_items([('name', 'Himanshu'), ('class', 'fifth'), ('job', 'tester')])

In [23]:
dit.keys()

dict_keys(['name', 'class', 'job'])

In [24]:
dit["School"]="Sdmn"

In [25]:
dit

{'name': 'Himanshu', 'class': 'fifth', 'job': 'tester', 'School': 'Sdmn'}

In [26]:
dit.pop("School")

'Sdmn'

In [27]:
dit

{'name': 'Himanshu', 'class': 'fifth', 'job': 'tester'}

In [28]:
st={"hmn","pwwbdj",1,12,3,4,5,6,3,4,3,1,2}

In [29]:
st

{1, 12, 2, 3, 4, 5, 6, 'hmn', 'pwwbdj'}

In [30]:
st1={"hmn",1}

In [31]:
st1.issubset(st)

True

In [32]:
tup=("hmn","@","gmail.com")

In [33]:
tup

('hmn', '@', 'gmail.com')

In [34]:
tup.count("@")

1

In [35]:
tup.index(1)

ValueError: tuple.index(x): x not in tuple

In [36]:
tup.index("@")

1

In [37]:
"name"=True

SyntaxError: cannot assign to literal (<ipython-input-37-09b40812d335>, line 1)

In [38]:
name=True

In [39]:
school=False